body.blog {
  #page_caption {
    .page_title_wrapper {
      h1 {
        font-size: 30px !important;
        text-transform: none !important;
      }
    }
  }

  .post {
    .post_detail {
      display: none !important;
    }

    .comment_counter {
      display: none !important;
    }
  }
}

body.single-post {
  .comment_counter {
    display: none !important;
  }

  .sidebar_widget {
    .post_attribute {
      display: none !important;
    }
  }

  #page_caption {
    .page_title_wrapper {
      h1 {
        font-size: 30px !important;
        text-transform: none !important;
      }
    }

    .post_detail {
      display: none !important;
    }
  }
}