#client-list-logo.footer_bar_wrapper .sidebar_content {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;

  div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: auto;
    margin: .5vw;
    padding: 10px;

    img {
      width: auto;
      height: auto;
    }
  }
}