body.home {
  #homepage-text {
    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  h2.ppb_title {
    text-align: left;
    text-transform: capitalize;
    font-size: 28px;
  }

  .page_caption_desc {
    text-align: left;
    text-transform: none;
    font-size: 16px !important;
    font-style: normal;
  }
  .one.withsmallpadding {
    padding: 20px 0 20px 0;
  }

  .tour_country {
    font-size: 14px !important;
    font-style: normal !important;
  }

  .ppb_tour .thumb_content h3  {
    font-size: 15px !important;
  }

  .tour_days {
    font-size: 12px !important;
  }

  .tour_price {
    font-size: 20px !important;
  }

  .testimonial_slider_wrapper {
    width: 100% !important;
  }

  .promo_box {
    background: #E1703D;
    border: none;
    word-wrap: normal;
    padding: 10px;
  }

  .promo_box h5 {
    color: white !important;
    font-size: 30px;
  }

  .promo_box h5 em {
    color: #D18F61 !important;
  }

  .promo_box .button {
    margin-top: 4px;
  }

  .tour_country {
    display: none;
  }

  .testimonial_slider_meta {
    h6, .testimonial_slider_meta_company, .testimonial_slider_meta_position {
      font-size: 16px;
      font-family: Raleway;
      font-weight: bold;
    }
  }

  .photo-credit {
    li {
      display: inline-block;
      float: left;
      margin: 0 10px 0 0;
      padding: 0;
    }
  }
}
