.single.single-tours {
  #page_caption.hasbg.fullscreen {
    height: 610px !important;
  }

  .tour_meta_wrapper {
    display: none;
  }

  .tour_call_to_action_box {
    border: none;
  }

  .tour-header h3 {
    color: #423162 !important;
  }

  .tour-header h2 {
    color: #423162 !important;
  }

  .tour-header p {
    color: #423162 !important;
  }

  div.thumb_content.fullwidth h3 {
    font-size: 15px !important;
  }

  .social_share_wrapper {
    display: none;
  }

  .tour_call_to_action {
    display: none;
  }
}