@charset "UTF-8";
body {
  font-size: 16px;
  color: #333; }

.read-more-or-less {
  padding-left: 0 !important; }

.photo-credit-widget {
  font-size: 13px !important;
  line-height: 10px !important; }

#search-text {
  position: absolute;
  top: 10px;
  margin-left: -10px;
  font-size: 12px;
  color: #DA7635;
  font-weight: bold; }

@media only screen and (max-width: 960px) and (min-width: 768px) {
  #search-text {
    top: 2px;
    display: none; } }
@media only screen and (max-width: 767px) {
  #search-text {
    top: 2px;
    display: none; } }
#searchform .fa.fa-search {
  color: #DA7635 !important; }

div.thumb_content.fullwidth .thumb_title .tour_country, div.thumb_content .thumb_title .tour_country {
  display: none; }

.search-results .post_header h6 {
  font-weight: bold !important; }
.search-results .post_header .post_detail {
  display: none; }

body.home #homepage-text p {
  margin-bottom: 10px; }
  body.home #homepage-text p:last-child {
    margin-bottom: 0; }
body.home h2.ppb_title {
  text-align: left;
  text-transform: capitalize;
  font-size: 28px; }
body.home .page_caption_desc {
  text-align: left;
  text-transform: none;
  font-size: 16px !important;
  font-style: normal; }
body.home .one.withsmallpadding {
  padding: 20px 0 20px 0; }
body.home .tour_country {
  font-size: 14px !important;
  font-style: normal !important; }
body.home .ppb_tour .thumb_content h3 {
  font-size: 15px !important; }
body.home .tour_days {
  font-size: 12px !important; }
body.home .tour_price {
  font-size: 20px !important; }
body.home .testimonial_slider_wrapper {
  width: 100% !important; }
body.home .promo_box {
  background: #E1703D;
  border: none;
  word-wrap: normal;
  padding: 10px; }
body.home .promo_box h5 {
  color: white !important;
  font-size: 30px; }
body.home .promo_box h5 em {
  color: #D18F61 !important; }
body.home .promo_box .button {
  margin-top: 4px; }
body.home .tour_country {
  display: none; }
body.home .testimonial_slider_meta h6, body.home .testimonial_slider_meta .testimonial_slider_meta_company, body.home .testimonial_slider_meta .testimonial_slider_meta_position {
  font-size: 16px;
  font-family: Raleway;
  font-weight: bold; }

.single.single-tours .tour_country_subheader {
  display: none; }
.single.single-tours #page_caption.hasbg.fullscreen h1 {
  text-transform: none;
  font-size: 30px; }
  @media only screen and (max-width: 767px) {
    .single.single-tours #page_caption.hasbg.fullscreen h1 {
      font-size: 24px; } }
.single.single-tours .tour_meta_wrapper {
  display: none; }
.single.single-tours .tour_call_to_action_box {
  border: none; }
.single.single-tours .tour-header h3 {
  color: #423162 !important; }
.single.single-tours .tour-header h2 {
  color: #423162 !important; }
.single.single-tours .tour-header p {
  color: #423162 !important; }
.single.single-tours div.thumb_content.fullwidth h3 {
  font-size: 15px !important; }
.single.single-tours .social_share_wrapper {
  display: none; }
.single.single-tours .tour_call_to_action {
  display: none; }

.page-template-default #crumbs, .page-template-default #page_caption.hasbg #crumbs {
  display: none !important; }
.page-template-default h3, .page-template-default h3.widget-title {
  font-size: 22px; }
.page-template-default .sow-cta-text h4 {
  color: #882334; }
.page-template-default .sow-cta-text h5 {
  font-weight: bold; }
.page-template-default #your-trip .your-trip, .page-template-default #about-you .about-you, .page-template-default #about-our-services .about-our-services, .page-template-default #faq .faq {
  font-weight: bold; }
.page-template-default .your-trip-navigation {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px; }
  .page-template-default .your-trip-navigation ul {
    margin-left: 0 !important;
    list-style: none; }
    .page-template-default .your-trip-navigation ul li {
      display: inline-block;
      margin-left: 10px;
      font-weight: 500; }
      .page-template-default .your-trip-navigation ul li:first-child {
        margin-left: 0;
        color: black;
        cursor: pointer; }
        .page-template-default .your-trip-navigation ul li:first-child a {
          cursor: default;
          color: black;
          font-weight: bold; }
        .page-template-default .your-trip-navigation ul li:first-child:after {
          content: "";
          padding-left: 0; }
      .page-template-default .your-trip-navigation ul li:last-child:after {
        content: "";
        padding-left: 0; }
      .page-template-default .your-trip-navigation ul li:after {
        content: "|";
        padding-left: 10px; }

.page-template-page_r #page_caption.hasbg #crumbs {
  display: none !important; }

#a-la-carte-tour-list ul {
  margin-left: 0 !important;
  max-height: 300px;
  overflow-y: scroll;
  padding-top: 0 !important; }
  #a-la-carte-tour-list ul li {
    margin-right: 10px;
    padding: 0;
    display: inline-block;
    font-size: 13px;
    color: #777;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    background-color: #ddd;
    margin-bottom: 6px;
    cursor: pointer; }
    #a-la-carte-tour-list ul li a {
      padding: 7px 13px !important;
      display: block; }
      #a-la-carte-tour-list ul li a:hover {
        background-color: #882334;
        color: #fff !important; }

.iphorm_1_14-input-ul {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px; }

body.blog #page_caption .page_title_wrapper h1 {
  font-size: 30px !important;
  text-transform: none !important; }
body.blog .post .post_detail {
  display: none !important; }
body.blog .post .comment_counter {
  display: none !important; }

body.single-post .comment_counter {
  display: none !important; }
body.single-post .sidebar_widget .post_attribute {
  display: none !important; }
body.single-post .sidebar_widget h2.widgettitle {
  font-size: 28px !important;
  text-transform: none !important;
  color: #993300 !important; }
body.single-post #page_caption .page_title_wrapper h1 {
  font-size: 30px !important;
  text-transform: none !important; }
body.single-post #page_caption .post_detail {
  display: none !important; }

#client-list-logo.footer_bar_wrapper .sidebar_content {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex; }
  #client-list-logo.footer_bar_wrapper .sidebar_content div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: auto;
    margin: .5vw;
    padding: 10px; }
    #client-list-logo.footer_bar_wrapper .sidebar_content div img {
      width: auto;
      height: auto; }

.slick-list, .slick-slider, .slick-track {
  position: relative;
  display: block; }

.slick-loading .slick-slide, .slick-loading .slick-track {
  visibility: hidden; }

.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: 0; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-list, .slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  top: 0;
  left: 0; }

.slick-track:after, .slick-track:before {
  display: table;
  content: ""; }

.slick-track:after {
  clear: both; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir=rtl] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*# sourceMappingURL=slick.min.css.map */
.slick-dots, .slick-next, .slick-prev {
  position: absolute;
  display: block;
  padding: 0; }

.slick-dots li button:before, .slick-next:before, .slick-prev:before {
  font-family: slick;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-loading .slick-list {
  background: url(/wp-content/uploads/slick/ajax-loader.gif) center center no-repeat #fff; }

@font-face {
  font-family: slick;
  font-weight: 400;
  font-style: normal;
  src: url(/wp-content/uploads/slick/fonts/slick.eot);
  src: url(/wp-content/uploads/slick/fonts/slick.eot?#iefix) format("embedded-opentype"), url(/wp-content/uploads/slick/fonts/slick.woff) format("woff"), url(/wp-content/uploads/slick/fonts/slick.ttf) format("truetype"), url(/wp-content/uploads/slick/fonts/slick.svg#slick) format("svg"); }
.slick-next, .slick-prev {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0; }

.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
  color: transparent;
  outline: 0;
  background: 0 0; }

.slick-next:focus:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-prev:hover:before {
  opacity: 1; }

.slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
  opacity: 0.25; }

.slick-next:before, .slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #fff; }

.slick-prev {
  left: -25px; }

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: "←"; }

.slick-next:before, [dir=rtl] .slick-prev:before {
  content: "→"; }

.slick-next {
  right: -25px; }

[dir=rtl] .slick-next {
  right: auto;
  left: -25px; }

[dir=rtl] .slick-next:before {
  content: "←"; }

.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  bottom: -25px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0; }

.slick-dots li button:focus, .slick-dots li button:hover {
  outline: 0; }

.slick-dots li button:focus:before, .slick-dots li button:hover:before {
  opacity: 1; }

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: #000; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #000; }

/*# sourceMappingURL=slick-theme.min.css.map */
#footer h2.widgettitle {
  font-size: 16px;
  text-transform: capitalize; }

#copyright {
  font-size: 16px;
  text-transform: capitalize; }

#footer .sidebar_widget {
  color: #333; }

#client-list-logo .sidebar_content * {
  box-sizing: border-box; }
#client-list-logo .sidebar_content .slider {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 30px;
  overflow: hidden; }
#client-list-logo .sidebar_content .slick-slide {
  margin: 0 20px; }
#client-list-logo .sidebar_content .slick-slide img {
  width: 100%; }
#client-list-logo .sidebar_content .slick-prev:before,
#client-list-logo .sidebar_content .slick-next:before {
  color: black; }
